@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Merriweather:wght@300;400;900&family=PT+Mono&display=swap");

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply max-w-screen-md mx-auto;
}

h1 {
  font-family: "Lilita One", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  font-weight: 900;
}

p {
  font-family: "Merriweather", serif;
  @apply pb-4 text-lg  font-light;
}

p img {
  @apply mb-8 mt-4;
}

pre {
  @apply mb-8 mt-4;
}

pre,
code {
  font-family: "PT Mono";
  @apply max-w-4xl mx-auto min-w-0;
}

.display {
  font-family: "Lilita One", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  @apply text-violet-700;
}

a:hover {
  @apply text-violet-800;
}

.article h2 {
  @apply text-4xl pb-6 pt-2;
}

.function_ {
  color: rgb(175, 211, 255) !important;
}

code {
  @apply text-violet-800 text-yellow-100 px-2 py-1;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
