/* Universal styles */

h1 {
  font-family: "Lilita One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  font-weight: 900;
}

p,
li {
  font-family: "Merriweather", serif;
  @apply font-light;
}

.display {
  font-family: "Lilita One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply text-blue-900;
}

/* Blog Post Styles */

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  @apply max-w-screen-md mx-auto;
}

.article h2 {
  @apply text-2xl sm:text-4xl pb-6 pt-2;
}

.article h3 {
  @apply text-2xl sm:text-3xl pb-3 pt-2;
}

.article p {
  @apply pb-4 text-[17px] sm:text-lg max-w-3xl mx-auto;
}

.article ol li {
  @apply list-decimal ml-4;
}

.article ul li {
  @apply list-disc ml-4;
}

.article b {
  @apply font-bold;
}

.article .function_ {
  color: rgb(175, 211, 255) !important;
}

.article code {
  @apply opacity-0;
}

.article .hljs {
  @apply opacity-100 transition-opacity;
}

.article p code {
  @apply px-2 py-1 bg-blue-900 text-white opacity-100 text-sm align-middle border rounded-lg;
}

.article pre {
  @apply mb-8 mt-4;
}

.article pre,
code {
  font-family: "PT Mono";
  @apply max-w-4xl mx-auto min-w-0;
}

/* Universal transition */

.page-enter-active,
.page-leave-active {
  @apply transition-all duration-[450ms] ease-in-out translate-y-0;
}
.page-enter-from,
.page-leave-to {
  @apply opacity-0 translate-y-4;
}
